<nav class="flex justify-between items-center w-full p-5">
    <a href={{ route('home') }}>Accueil</a>
    <a href={{ route('category') }}>Catégories</a>
    <a href={{ route('events') }}>Evenement</a>
    <a href={{ route('contact') }}>Contact</a>
</nav>